*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding-top: 4rem;
}

body.no-header {
  padding-top: 0;
}

header,
main,
footer {
  display: flex;
}

header,
footer {
  color: #fff;
  padding: 1rem;
  flex-shrink: 0;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: #343a40;
}

main {
  margin: 20px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: #43853d;
}

/* For IE11 */
html,
body {
  height: 100%;
}
